.chart{
  font: 10px sans-serif;
  background-color: black;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.svgborder {
    background-color: #FFC988;
    transform: translate(30%, 0%); 
}
.body{
  background-color : black
}
.bar {
  fill: #007FFF;
  stroke: black;
  stroke-width: 2
}
.bar:hover {
  fill: yellow
}
.tooltip {
    position: absolute;
    z-index: 10;
    background-color: lightblue;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: brown;
}

.dataplots{
  fill: #402269
}
.domain {
    stroke-width: 2;
}
#para2,#demo{color : white; }
.tick line {
    stroke: #DA0D0F;
    stroke-opacity: 0.4;
    stroke-width: 2;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}


/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
